### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Display summary of Data frame
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
school_count = len(school_data_complete['school_name'].value_counts())

#Calculate the total number of students
student_count = school_data_complete['Student ID'].count()

#Calculate the total budget
total_budget = school_data.budget.sum()

#Calculate the average math score
avg_math_score = student_data.math_score.mean()

#Calculate the average reading score
avg_reading_score = student_data.reading_score.mean()

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_avg_score = (avg_math_score + avg_reading_score) / 2

#Calculate the percentage of students with a passing math score (70 or greater)
math = student_data.loc[student_data.math_score>=70]
passing_math = (math.math_score.count() / student_count)

#Calculate the percentage of students with a passing reading score (70 or greater)
reading = student_data.loc[student_data.reading_score>=70]
passing_reading = (reading.reading_score.count() / student_count)

#Create a dataframe to hold the above results
school_results = pd.DataFrame({'School Count': [school_count], 'Student Count': [student_count], 'Total Budget':
                               [total_budget], 'Avg Math Score': [avg_math_score], 'Avg Reading Score':
                                [avg_reading_score], 'Overall Avg Score': [overall_avg_score], '% Passing Math':
                                [passing_math], '% Passing Reading': [passing_reading]})
school_results.head()

#Optional: give the displayed data cleaner formatting
school_results.style.format({'Student Count': '{:,}','Total Budget': "${:,}",
                             "Avg Math Score": "{:.1f}",
                             "Avg Reading Score": "{:.1f}", "Overall Avg Score": "{:.1f}",
                             "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
#Group schools
grouped_school = school_data_complete.groupby(['school_name'])

#Get number of students by school
total_student = grouped_school.size()

#Get the type of each school
school_type = grouped_school['type'].first()

#Calculate the total budget for each school
school_budget = grouped_school['budget'].first()

#Calculate the budget per student for each school
budget_per_student = school_budget/total_student

# Calculate the average math score for each school
avg_math_score = grouped_school['math_score'].mean()

# Calculate the average reading score for each school
avg_reading_score = grouped_school['reading_score'].mean()

# Calculate the percentange of passing math score for each school
grp_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
pct_passing_math = (grp_passing_math/total_student)

# Calculate the percentange of passing math score for each school
grp_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
pct_passing_reading = (grp_passing_reading/total_student)

# Calculate the overall passing score for each school
pct_overall_passing = (pct_passing_math + pct_passing_reading)/2

# Create a dataframe to hold the above results
school={
    'School Type': school_type,
    'Total Students':total_student,
    'Total School Budget': total_budget,
    'Per Student Budget': budget_per_student,
    'Avg Math Score': avg_math_score,
    'Avg Reading Score': avg_reading_score,
    '% Passing Math': pct_passing_math,
    '% Passing Reading': pct_passing_reading,
    'Overall Passing Rate': pct_overall_passing,
}
school_summary = pd.DataFrame(school)

# Formatting the display data frame
school_summary.style.format({"Total Students": "{:,}","Total School Budget": "{:,}",
                             "Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

In [16]:
# Sort and display the top five schools in overall passing rate
school_summary.sort_values(by='Overall Passing Rate',ascending=False).head(5)

# Formatting the display data frame
school_summary.style.format({"Total Students": "{:,}","Total School Budget": "${:,}", "Per Student Budget": "${:.0f}",
                             "Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [18]:
#Sort and display the five schools in overall passing rate
school_summary.sort_values(by=['Overall Passing Rate'], ascending=True).head(5)

# Formatting the display data frame
school_summary.style.format({"Total Students": "{:,}","Total School Budget": "${:,}", "Per Student Budget": "${:.0f}",
                             "Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [21]:
#create separate tables for each grade
ninth_grades = student_data.loc[student_data['grade'] == '9th']
tenth_grades = student_data.loc[student_data['grade'] == '10th']
eleventh_grades = student_data.loc[student_data['grade'] == '11th']
twelvth_grades = student_data.loc[student_data['grade'] == '12th']

#calculate the average math scores for each grade
ninth_grades_schools = ninth_grades.groupby('school_name').math_score.mean().reset_index()
tenth_grades_schools = tenth_grades.groupby('school_name').math_score.mean().reset_index()
eleventh_grades_schools = eleventh_grades.groupby('school_name').math_score.mean().reset_index()
twelvth_grades_schools = twelvth_grades.groupby('school_name').math_score.mean().reset_index()

#merge the dataframes to create summary table
math_scores_by_grade = pd.merge(ninth_grades_schools, tenth_grades_schools, how="outer", on="school_name")
math_scores_by_grade = math_scores_by_grade.rename(columns={'math_score_x': '9th Grade Avg', 'math_score_y': '10th Grade Avg'})
math_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_grades_schools, how="outer", on="school_name")
math_scores_by_grade = math_scores_by_grade.rename(columns={'math_score': '11th Grade Avg'})
math_scores_by_grade = pd.merge(math_scores_by_grade, twelvth_grades_schools, how="outer", on="school_name")
math_scores_by_grade = math_scores_by_grade.rename(columns={'math_score': '12th Grade Avg'})

math_scores_by_grade.head(25)

# Formatting the display data frame
math_scores_by_grade.style.format({"9th Grade Avg": "{:.1f}","10th Grade Avg": "{:.1f}", "11th Grade Avg": "{:.1f}",
                                 "12th Grade Avg": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [23]:
#create separate tables for each frame
ninth_grades = student_data.loc[student_data['grade'] == '9th']
tenth_grades = student_data.loc[student_data['grade'] == '10th']
eleventh_grades = student_data.loc[student_data['grade'] == '11th']
twelvth_grades = student_data.loc[student_data['grade'] == '12th']

#calculate the average reading scores for each grade
ninth_grades_schools = ninth_grades.groupby('school_name').reading_score.mean().reset_index()
tenth_grades_schools = tenth_grades.groupby('school_name').reading_score.mean().reset_index()
eleventh_grades_schools = eleventh_grades.groupby('school_name').reading_score.mean().reset_index()
twelvth_grades_schools = twelvth_grades.groupby('school_name').reading_score.mean().reset_index()

#merge the dataframes for each grade
reading_scores_by_grade = pd.merge(ninth_grades_schools, tenth_grades_schools, how="outer", on="school_name")
reading_scores_by_grade = math_scores_by_grade.rename(columns={'reading_score_x': '9th Grade Avg', 'reading_score_y': '10th Grade Avg'})
reading_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_grades_schools, how="outer", on="school_name")
reading_scores_by_grade = math_scores_by_grade.rename(columns={'reading_score': '11th Grade Avg'})
reading_scores_by_grade = pd.merge(math_scores_by_grade, twelvth_grades_schools, how="outer", on="school_name")
reading_scores_by_grade = math_scores_by_grade.rename(columns={'reading_score': '12th Grade Avg'})

reading_scores_by_grade.head(25)

# Formatting the display data frame
math_scores_by_grade.style.format({"9th Grade Avg": "{:.1f}","10th Grade Avg": "{:.1f}", "11th Grade Avg": "{:.1f}",
                                 "12th Grade Avg": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [24]:
school_spending = school_summary.copy().drop(columns=['School Type', 'Total Students', 'Total School Budget'])

#Create Bins in which to place values
spending_bins = [0, 585, 615, 645, 675]
#Create labels for Bins
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#Place the data series into a new column inside of the DataFrame
school_spending['School Spending'] = pd.cut(school_spending['Per Student Budget'], spending_bins, labels = group_names)
school_spending_grp = school_spending.groupby('School Spending').mean()
school_spending_grp.head()

# Formatting the display data frame
school_spending_grp.style.format({"Per Student Budget": "${:.0f}", "Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [25]:
school_size = school_summary.copy().drop(columns=['School Type', 'Per Student Budget', 'Total School Budget'])


# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#Place the data series into a new column inside of the DataFrame
school_size['Total Students'] = pd.cut(school_size['Total Students'], size_bins, labels = group_names)
school_size_grp = school_size.groupby('Total Students').mean()
school_size_grp.head()

# Formatting the display data frame
school_size_grp.style.format({"Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [26]:
school_type = school_summary.copy().drop(columns=['Total Students', 'Per Student Budget', 'Total School Budget'])

school_type_grp = school_type.groupby('School Type').mean()
school_type_grp.head()

# Formatting the display data frame
school_size_grp.style.format({"Avg Math Score": "{:.1f}", "Avg Reading Score": "{:.1f}",
                            "% Passing Math": "{:.1%}", "% Passing Reading": "{:.1%}", "Overall Passing Rate": "{:.1%}"})